span {
    color: blue;
    text-align: center;
    font-family:Arial Black;
    font-size: 20px;
   
}

#tex {
	color: caleste;
    text-align: center;
    font-family: cambria;
    font-size: 15px:
}